TerceroTrimestre/mensajes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="mensajes">
<xs:complexType>
<xs:sequence>
    <xs:element name="de" type="xs:string"></xs:element>
    <xs:element name="para" type="xs:string"></xs:element>
    <xs:element name="mensaje" type="xs:string"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>

</xs:schema>