XML/XSL/ejemplo-pag204/elementos-simple.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="elementos-simples">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="cadena" type="xs:string"/>
                <xs:element name="enteroPositivo" type="xs:positiveIntenger" default="1" />
                <xs:element name="enteroNegativo" type="xs:nonNegativeIntenger" default="0" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>