XML/XSL/ejemplo-pag204/mensaje.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="mensaje">
        <xs:complexType> <!--Tipo de elemento: composto , se os elementos sao simples ou compostos.-->
            <xs:sequence> <!--Uma sequencia-->
                <xs:element name = "de" type="xs:string" />  <!--Cada elemento tem um nome, na outra pág vamos fazer como se fosse a lista de DTD-->
                <xs:element name = "para" type="xs:string" />
                <xs:element name = "mensajes" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>