TerceroTrimestre/Choices/direccion.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="direccion">
    <xs:complexType>
        <xs:choice>
            <xs:element name="particular" type="xs:string"></xs:element>
            <xs:element name="profesional" type="xs:string"></xs:element>
        </xs:choice>
    </xs:complexType>    


    </xs:element>
</xs:schema>
